<div class="layout layout--col layout--top layout--stretch">
    <div class="content">
        {% if departures and departures.size > 0 %}

            <table class="table table--small" data-table-limit="true">
                <thead>
                <tr>
                    <th><span class="title title--small">Destination</span></th>
                    <th><span class="title title--small">Line</span></th>
                    <th><span class="title title--small text--right">Departs</span></th>
                </tr>
                </thead>

                <tbody>
                {% for d in departures %}
                    {% if dir == "" or d.dir == dir %}
                        <tr>
                            <td>
                                <span class="label" data-clamp="1">{{ d.dest }}</span>
                            </td>
                            <td>
                                <span class="label label--small">{{ d.line }}</span>
                            </td>
                            <td>
            <span class="label label--small text--right">
              {{ d.time | date: "%s" | plus: 0 | minus: 28800 | date: "%-I:%M %p" }}
            </span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <span class="label">No upcoming trains</span>
        {% endif %}
    </div>
</div>

<div class="title_bar">
  <span class="title">
    BART Departures
  </span>

    <span class="instance">
    {{ stopname }}{% if dir != "" %} ({{dir}}){% endif %}
  </span>
</div>
